.modal {
  background: #00000055;
  width: 100%;
  height: 100%;
  color: #000;
}

.modal-body {
 width: 100%;
  height: 92.5vh;
  padding: 0px;
  display: flex;
}
.modal-body>div>img{
    position: relative;
    width: 100%;
    height: inherit;
}

.modal-content{
    border-radius:10px;
}
.modal-dialog{
    max-width: 90%;
   
}
.section_order {
  background: #fff;
  height: 94vh;
  width: 90vw;
  z-index: 2;
  border-radius: 10px;
  margin: auto auto;
}
.order-des{
    position: relative;
}
.black_order{
    height: 35%;
    width: 100%;
    background: #000;
    position: absolute;
    top: 65%;
    border-bottom-left-radius: 10px;
    color:#fff;
}
.order_name{
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}
.order_price{
    font-size: 24px;
    font-weight: 600;
   
}
.order_icons{
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.price_increment{
    display: flex;
    margin: 7% 5%;
    justify-content: space-between;
}
.count{
    font-size: 24px;
    font-weight: 500;
}
.order_confirm{
    width: 60%;
    padding: 7% 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.order_confirm>p{
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    margin-top: -5%;
}
.input_ord {
    padding: 15px 50px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
  }
  /* location input  and icons wrapper Input */
  .input_order {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .confirm{
      width: 100%;
      padding: 15px 0;
      text-align: center;
      background: #000;
      color:#fff;
      margin-top: 2%;
  }
  /* close button for modal */
  .close-btn{
      background: transparent;
      border: none;
    text-align: right;
    margin-top: -10%;
  }
  .close-btn:focus{
   outline: none;   
  }
  @media screen and (max-width: 900px){
      .order_confirm>p{
          font-size: 20px;
      }
      .modal-body {
        width: 100%;
         height: 78.5vh;
         padding: 0px;
         display: flex;
         flex-direction: column;
       }
       .order_confirm{
           width: 100%;
           margin: 5% 0;
       }
       .modal-body>div>img{
        position: relative;
        width: 100%;
        
    }
    .black_order{
        height: 30%;
    }
    
  }