.first{
    display: flex;
    align-items: center;
    margin: 0 5%;
}
.second{
    display: flex;
    align-items: center;
    margin: 0 3%;
    justify-content:flex-end;
}
.btn_nav{
    background: #000;
    border-radius: 5px;
    color:#fff;
    padding:7px 25px;
    font-weight:600;
    border:none;
}
.menu{
    width: 20px;
    height: 20px;
}
.logo{
    font-weight: 700;
    font-size:32px;
    transition: all .3s ease-in;
}
@media screen and (max-width: 900px){
    .btn_nav{
        display: none;
    }
    .logo{
        font-size:27px;
        
    }
}
