/* .popular_wrapper{
    display: flex;
} */
.title_wrapper {
  display: flex;
  justify-content: space-between;
}
.title_wrapper > .title {
  font-size: 48px;
  font-weight: 500;
  margin: 0 3%;
}
/* icons left, right */
.round {
  background: black;
  color: #fff;
  width: max-content;
  height: max-content;
  padding: 10px 10px;
  border-radius: 50%;
  margin: 5%;
  cursor: pointer;
}
/* popular orders */
.pop_orders {
  display: flex;
  margin-left: 3%;
  overflow-x: hidden;
}
.order_title {
  font-size: 24px;
  font-weight: 400;
  text-align: left;
}
.order {
  padding: 3% 1%;
}

.order_btn {
  background: #000;
  padding: 2px 20px;
  border-radius: 5px;
  color: #fff;
}
@media screen and (max-width: 900px){
  .title_wrapper > .title {
    font-size: 25px;
    font-weight: 500;
    /* margin: 0 3%; */
  }
  .pop_orders {
    display: flex;
    margin-left: 3%;
    overflow-x: scroll;
  }
  .pop_orders::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .pop_orders{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .swipe> .round{
    font-size: 15px;
    display: none;
  }
  .swipe{
    margin-left: -10%;
  }
}
